<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerConnectionString" connectionString="Server=127.0.0.1;Database=SampleDB;User Id=sa;Password=YourStrongPassword123;TrustServerCertificate=True;" />
    <add name="SqliteConnectionString" connectionString="Data Source=../../../../metadata.db;" />
  </connectionStrings>
  <appSettings>
    <add key="ProjectName" value="SQLServer_Scanner_Project" />
    <add key="ProjectDescription" value="Scanned database schema from SQL Server" />
    <add key="SchemaJsonPath" value="schema.json" />
    <add key="OutputSqlDirectory" value="scanned_sql" />
  </appSettings>
</configuration>
